<div class="main">
  <div class="content">
    <div class="margin">Please upload an image to replicate it in Material angular: </div>
    <mat-menu #viewOptions="matMenu">
      <button mat-menu-item>Day</button>
      <button mat-menu-item>Month</button>
      <button mat-menu-item>Year</button>
    </mat-menu> 
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload margin">
      {{fileName || "No file uploaded yet, click the button to upload a file."}}
    </div>
    <button mat-flat-button color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
      Upload
    </button>
    <div class="margin">{{imageDescription}}</div>
  </div>
  <div class="title">List of generated items</div>
  <div *ngFor="let item of itemsCollection?.code" class="codes">
    <div #textToCopy>
      <pre>{{item}}</pre>
    </div>
    <button class="button" mat-flat-button color="warn" (click)="copyText(textToCopy)">Copy to Clipboard</button>
  </div>
  <div class="code-generated-list">
    <ng-container *ngFor="let code of codeSnippets">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>{{code.filename}}</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <app-dynamic-content [dynamicHtml]="code.content[1].content" [dynamicCss]="code.content[2].content"></app-dynamic-content>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>